# The HTTP surface of billing, v1.
#
# Written against core's docs/openapi-conventions.md: `/v1` on every path,
# `application/problem+json` for every non-2xx, cursor pagination on every
# collection, `Idempotency-Key` on every retriable POST, and `X-Trace-Id` on
# every response. `test/contract` checks the event side of the same contract
# against core's envelope schema.
#
# Five things a reader should know before trusting this document:
#
# 1. `security` is declared but empty, and the endpoints answer without a
#    token. Authorization is a later platform packet; until it lands this
#    surface is open, which is a recorded gap in README.md and not an oversight
#    here. `GET /v1/customers` in particular returns every customer, because
#    there is no account to scope it by.
# 2. The plans read/write asymmetry is deliberate: `GET /v1/plans/{slug}` reads
#    by the public handle, `PATCH /v1/plans/{id}` writes by uuid, because a slug
#    can be changed by the very request being made and a mutable handle is not a
#    safe thing to address a mutation by.
# 3. `/v1/webhooks/stripe` is the one path that is not a cafaye client surface.
#    Its sender is a processor and it authenticates by signature over the raw
#    body, so it takes no `Idempotency-Key` (the processor's own event id is the
#    dedupe key, and it is enforced by a unique index rather than by a header),
#    and it must never grow a token check.
# 4. **The subscription endpoints do not decide a subscription's state.** Every
#    mutating one asks the payment processor to do something and returns; the
#    subscription's own status changes only when `customer.subscription.*` arrives
#    on the webhook path. So `POST /v1/subscriptions` returns a Checkout session
#    and not a subscription, and carries no `Location`, and `POST
#    /v1/subscriptions/{id}/cancel` returns a subscription that is still
#    `active`. Each operation says so, and the one place that is not true —
#    `change_plan`, which also returns the timing decision it made — explains why
#    in the operation's own description.
# 5. **This document and `config/routes.rb` are held to each other by method and
#    path.** `test/contract/http_surface_contract_test.rb` fails if an operation
#    here is not served, and fails if the router serves one that is not here — so
#    a client generated from this document cannot call an operation this service
#    does not serve, and this service does not serve an operation no client can
#    know about. Every route that is deliberately *not* a client operation is
#    named in that test with the reason it is not one, which is what makes "not
#    described here" different from "in no document at all". The two sets are
#    compared as sets rather than as counts: a rename and a pure addition are
#    different failures, and a count cannot tell them apart.
openapi: 3.1.0
info:
  title: billing
  # 1.3.0 adds a response, not an operation. `PATCH /v1/customers/{id}` can now
  # answer 409, because `processor_customer_id` became unique and that is the one
  # field on a customer a client can move; `POST /v1/customers` and both plan
  # writes could already answer 409 and now say *which* collision they are
  # reporting. No operation was added, removed or changed, and no response body
  # shape moved, so this is a minor bump and the `/v1` prefix is untouched —
  # core's checklist asks for `info.version` to be raised if anything else in the
  # document moved, and the `/409` rows are that.
  #
  # 1.2.0 moved no operation. What moved is this document's account of itself:
  # `info.description` said it "describes the v0 surface" while the version said
  # otherwise, and the header above now states the rule that holds the document to
  # the router.
  #
  # 1.1.0 was the five subscription paths under the same `/v1` prefix, plus a new
  # response field on the subscription resource (`price`) and one on the plan
  # resource (`entitlements`).
  version: 1.3.0
  description: >-
    Plans, customers, the subscription lifecycle, and one inbound
    payment-processor webhook for cafaye. This document describes every client
    operation this service serves, and a test holds it to that by method and
    path: see note 5 above.

    Not described here, and not missed. The health probes (/healthz, /readyz,
    /up) are infrastructure. The /404, /422, /500 and /503 pages are where the app
    lands when a request fails rather than operations a client calls. The
    /rails/* routes are drawn by Rails engines. Prepaid credit, usage metering
    and invoices are absent because they are not built yet — README, "Known
    gaps".
  contact:
    name: billing
    email: billing@cafaye.com
servers:
  - url: https://billing.cafaye.com
    description: Production
  - url: http://localhost:3000
    description: Local

# Declared, and empty. See note 1 above.
security: []

tags:
  - name: customers
    description: Billing records of the users and accounts identity knows about.
  - name: plans
    description: What can be bought, at what price, on what cadence.
  - name: subscriptions
    description: >-
      The plan lifecycle. Every mutating action asks the payment processor to do
      something and returns; the subscription's own status changes only when a
      webhook says the processor did it.
  - name: webhooks
    description: >-
      Events coming in from a payment processor. Authenticated by signature
      rather than by token, because the sender is not a cafaye client.

paths:
  /v1/customers:
    get:
      tags: [customers]
      operationId: listCustomers
      summary: List customers
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: A page of customers, newest first.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPage'
        '400':
          $ref: '#/components/responses/CursorInvalid'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags: [customers]
      operationId: createCustomer
      summary: Create a customer
      description: >-
        Creates billing's record of an identity user or account. One customer
        per (owner, processor), and one customer per `processor_customer_id`: a
        second attempt at either is a 409.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '201':
          description: Created.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Location:
              description: The path of the new customer.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /v1/customers/{id}:
    parameters:
      - $ref: '#/components/parameters/CustomerId'
    get:
      tags: [customers]
      operationId: getCustomer
      summary: Get a customer
      parameters:
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: The customer.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [customers]
      operationId: updateCustomer
      summary: Update a customer
      description: >-
        Partial update. Emits no event: core's event catalog has no
        `billing.customer.updated` row, and this service does not publish a type
        the catalog does not list.

        `processor_customer_id` is unique across customers, so a claim on an
        identifier another customer already holds is a 409. `owner` and
        `processor` are not updatable, which leaves this as the one identifier a
        client can move.
      parameters:
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: The updated customer.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /v1/plans:
    get:
      tags: [plans]
      operationId: listPlans
      summary: List plans
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: A page of plans, newest first.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanPage'
        '400':
          $ref: '#/components/responses/CursorInvalid'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags: [plans]
      operationId: createPlan
      summary: Create a plan
      description: >-
        One plan per `slug`, and one plan per `processor_price_id`. A second
        attempt at either is a 409, and the body names the field that collided.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        '201':
          description: Created.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Location:
              description: The path of the new plan.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /v1/plans/{slug}:
    get:
      tags: [plans]
      operationId: getPlan
      summary: Get a plan by slug
      description: >-
        Read by slug, the handle that appears in a pricing page. A uuid is a 404
        here: this operation does not look plans up by id.
      parameters:
        - name: slug
          in: path
          required: true
          description: The plan's kebab-case slug.
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: The plan.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/plans/{id}:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    patch:
      tags: [plans]
      operationId: updatePlan
      summary: Update a plan
      description: >-
        Write by uuid, because the slug can be changed by this very request and
        a mutable handle is not a safe thing to address a mutation by. A slug
        is a 404 here: this operation does not look plans up by slug. Emits
        `billing.plan.updated` only when a field actually changed.

        `slug` and `processor_price_id` are both unique across plans, so a claim
        on either one another plan already holds is a 409 and nothing is written.
      parameters:
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
      responses:
        '200':
          description: The updated plan.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /v1/subscriptions:
    get:
      tags: [subscriptions]
      operationId: listSubscriptions
      summary: List subscriptions
      description: >-
        Every subscription, not one account's, because v0 has no token and so no
        account to scope by. A recorded gap, the same one `GET /v1/customers` has,
        and closed the same way: when authorization lands this becomes an
        `account_id` filter read from the token and never from a query parameter.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: A page of subscriptions, newest first.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPage'
        '400':
          $ref: '#/components/responses/CursorInvalid'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags: [subscriptions]
      operationId: createSubscriptionCheckout
      summary: Start a subscription by creating a Checkout session
      description: >-
        Creates a payment processor Checkout session for one plan and returns its
        URL. The caller sends the buyer there; the processor collects the first
        payment and creates the subscription.

        **No subscription is created by this request, and the response is not a
        subscription.** A subscription does not exist until the payment completes,
        and this service does not invent a row for one that does not — which is why
        there is no `Location` header either: there is no resource to point at. The
        row appears when `customer.subscription.created` arrives, and
        `billing.subscription.started` is published in the same transaction as that
        row.

        `customer_id` is in the body because v0 has no token to name the account
        with, and it is why a customer whose owner is a `User` rather than an
        `Account` is refused: which account a user belongs to is identity's fact and
        no event carrying it is in this build's `consumes`.

        Idempotent on `Idempotency-Key`: the same key with the same body replays the
        first response rather than creating a second Checkout session, and the same
        key with a different body is a 409.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCheckoutRequest'
      responses:
        '201':
          description: >-
            A Checkout session was created. Deliberately carries no `Location`:
            nothing in this service's database was created, and a header pointing at
            a resource that does not exist yet would be a link to a 404.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '503':
          $ref: '#/components/responses/ProcessorUnconfigured'

  /v1/subscriptions/{id}:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    get:
      tags: [subscriptions]
      operationId: getSubscription
      summary: Get a subscription
      parameters:
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: The subscription, with its plan's price in integer minor units.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags: [subscriptions]
      operationId: cancelSubscription
      summary: Cancel a subscription
      description: >-
        Asks the payment processor to cancel, and returns. **The subscription is not
        canceled by this response** — its status changes when
        `customer.subscription.deleted` arrives and `billing.subscription.canceled` is
        published. A response claiming the cancellation had happened would be a lie
        about a state this service does not own.

        `at_period_end` is required and must be a boolean: the caller chooses, and
        this service does not inherit a processor's default on its behalf. It is
        refused as a 422 for a `past_due` subscription, which has no further period
        to serve — and refusing beats quietly cancelling immediately, which is not
        what was asked for.

        A `canceled` or `unpaid` subscription is a 409: the request collides with
        something that has already happened, or the processor has stopped collecting
        and will cancel it itself.

        No refund and no proration is requested. The credit for the unused part of a
        period is the processor's to compute, and a refund calculated here would be a
        figure this service did not keep.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
      responses:
        '200':
          description: The processor was asked. The subscription is as it was.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '503':
          $ref: '#/components/responses/ProcessorUnconfigured'

  /v1/subscriptions/{id}/change_plan:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags: [subscriptions]
      operationId: changeSubscriptionPlan
      summary: Move a subscription to another plan
      description: >-
        Asks the payment processor to move the subscription, and returns. **The local
        plan does not change by this response** — it changes when
        `customer.subscription.updated` arrives and `billing.subscription.updated` is
        published.

        The timing rule, which is the point of the endpoint and is decided in one
        place:

        * **A more expensive plan takes effect immediately.** The processor bills the
          difference now (`proration_behavior: always_invoice`). The customer asked
          for more service, and delivering it at the end of the period would mean
          they used it for free in between.
        * **A cheaper or equally priced plan takes effect at the end of the current
          period**, with nothing carried forward (`proration_behavior: none`). Nobody
          is refunded for a plan they are already leaving, and no credit is computed
          here.
        * **A plan on a different interval, or in a different currency, is refused.**
          Ten dollars a month against a hundred a year is not a cheaper plan, it is a
          different unit; comparing them would mean annualising, which is computing
          money nobody asked for.

        `plan_change` in the response states which rule applied. It is not state — the
        subscription's own fields have not moved — and it exists so a client can tell
        the caller that a downgrade is scheduled rather than applied.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePlanRequest'
      responses:
        '200':
          description: The processor was asked, plus what was decided.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionWithPlanChange'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '503':
          $ref: '#/components/responses/ProcessorUnconfigured'

  /v1/subscriptions/{id}/entitlements:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    get:
      tags: [subscriptions]
      operationId: getSubscriptionEntitlements
      summary: What this subscription grants, right now
      description: >-
        The plan's features and limits, and whether this subscription is currently
        granting them.

        A `canceled` subscription grants nothing: `features` is `[]` and `limits` is
        `{}`. A `past_due` or `unpaid` one still grants, because the processor's grace
        period is a product decision and not this service's to take away.
      parameters:
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: The entitlements in force.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entitlements'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/stripe:
    post:
      tags: [webhooks]
      operationId: receiveStripeWebhook
      summary: Receive one Stripe event
      description: >-
        Verifies the `Stripe-Signature` header against `STRIPE_WEBHOOK_SECRET` and
        stores the event before interpreting it. `STRIPE_WEBHOOK_SECRETS`, a
        comma-separated list, may be set instead during a secret rotation; a
        signature that verifies under any configured secret is accepted.

        The response says whether the request was *received*, not whether this
        service found anything to do. Delivery is at-least-once, so the same event
        id arrives again — immediately, or a day later — and a replay is a 200 and
        a lookup rather than a second event. An event type this build has no
        mapping for, a type it deliberately ignores, and an event whose mapping
        failed are all 200 with the outcome recorded on the stored row. A 5xx
        would teach Stripe to retry a decision this service has already made, and
        would hide a parked row behind a timeout.

        An unverified body is never stored. `stripe_event_id` is UNIQUE, so a
        replay cannot produce a second row, and the row is written in the same
        transaction as the event it produces, so a stored event and the receipt
        saying it arrived cannot disagree.

        This endpoint is not token-authenticated and must never grow a token
        check: a `Bearer` here would be a second, weaker trust path to the same
        door as the `/v1` API.
      parameters:
        - $ref: '#/components/parameters/StripeSignature'
      requestBody:
        required: true
        description: >-
          The Stripe event, unmodified. The body is hashed exactly as it arrives,
          so it is never re-serialized before verification.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeEvent'
      responses:
        '200':
          description: >-
            The event was verified and is recorded. Whatever became of it —
            emitted, deliberately ignored, or parked as failed — the processor has
            nothing to retry.

            There is no response body. The processor is told only that the event
            was received; what this service did with it is a fact about billing's
            own tables, and inventing a body here would be a response shape with
            no contract behind it. What became of the event is queryable:
            `processor_webhooks.error` carries `ignored:<reason>` or
            `failed:<class>: <message>`, and a NULL `processed_at` is the only
            state a crash can leave behind.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
        '400':
          $ref: '#/components/responses/SignatureRejected'
        '503':
          $ref: '#/components/responses/SigningUnconfigured'

components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Rows per page. Defaults to 25, capped at 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Cursor:
      name: cursor
      in: query
      required: false
      description: >-
        Opaque base64url cursor from a previous page's `page.next_cursor`.
        Clients must not parse it; its encoding may change without notice.
        Expires after 24 hours.
      schema:
        type: string
    Order:
      name: order
      in: query
      required: false
      description: Sort direction. Defaults to desc (newest first).
      schema:
        type: string
        enum: [asc, desc]
        default: desc
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >-
        A uuid chosen by the client. The same key with the same body replays the
        original response and sets `Idempotency-Replayed: true`; the same key
        with a different body is a 409 `idempotency_key_reused`. A request
        without the key is processed normally.
      schema:
        type: string
        format: uuid
    TraceId:
      name: X-Trace-Id
      in: header
      required: false
      description: >-
        The caller's trace id, echoed on the response and repeated in the body
        of every error. Supplying one is how a call is followed.
      schema:
        type: string
    CustomerId:
      name: id
      in: path
      required: true
      description: The customer's uuid.
      schema:
        type: string
        format: uuid
    PlanId:
      name: id
      in: path
      required: true
      description: The plan's uuid.
      schema:
        type: string
        format: uuid
    SubscriptionId:
      name: id
      in: path
      required: true
      description: The subscription's uuid.
      schema:
        type: string
        format: uuid
    StripeSignature:
      name: Stripe-Signature
      in: header
      required: true
      description: >-
        Stripe's signature over the exact request bytes, in the form
        `t=<unix seconds>,v1=<hex hmac-sha256>`. The HMAC is computed over
        `<timestamp>.<raw body>` keyed with the endpoint's signing secret. More
        than one `v1` may be present, which is how a rotation is absorbed.
      schema:
        type: string
        pattern: '^t=\d+,v1=[0-9a-f]{64}(,v1=[0-9a-f]{64})*$'
      example: "t=1790740800,v1=5257a869e7ecebeda32affa62cdca3fa51cad7e77a0e56ff536d0ce8e108d8bd"

  headers:
    TraceId:
      description: The trace id, always present.
      required: true
      schema:
        type: string
    IdempotencyReplayed:
      description: '`true` when this response was replayed from a stored one.'
      schema:
        type: string
        enum: ['true']

  schemas:
    # The money rule at the wire: an amount crosses a boundary as integer minor
    # units plus a currency, never as a decimal and never as a float.
    Money:
      type: object
      description: An amount of money in integer minor units.
      required: [amount_minor, currency]
      additionalProperties: false
      properties:
        amount_minor:
          type: integer
          description: >-
            A whole number of minor units. A decimal here — as a number or as a
            string — is a 422: a float cannot represent 0.10 exactly, so it never
            carries an amount.
          minimum: 0
          example: 1900
        currency:
          type: string
          description: An ISO 4217 code, stored and returned upper case.
          pattern: '^[A-Z]{3}$'
          example: USD

    CustomerOwner:
      type: object
      description: >-
        A reference to an identity record. A uuid, stored without a foreign
        key: it crosses a service boundary, and billing never loads it.
      required: [type, id]
      additionalProperties: false
      properties:
        type:
          type: string
          enum: [User, Account]
        id:
          type: string
          format: uuid

    Customer:
      type: object
      required:
        [id, owner, processor, processor_customer_id, email, metadata, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        owner:
          $ref: '#/components/schemas/CustomerOwner'
        processor:
          type: string
          description: The payment processor. Only `stripe` in v0.
          enum: [stripe]
        processor_customer_id:
          type: [string, 'null']
          description: >-
            The processor-side id. Always null in v0: this build makes no Stripe
            call.
        email:
          type: [string, 'null']
          format: email
        metadata:
          type: object
          description: Caller-supplied data. Never a scalar.
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CustomerCreate:
      type: object
      required: [owner, processor]
      additionalProperties: false
      properties:
        owner:
          $ref: '#/components/schemas/CustomerOwner'
        processor:
          type: string
          enum: [stripe]
        email:
          type: [string, 'null']
          format: email
        metadata:
          type: object
          additionalProperties: true

    CustomerUpdate:
      type: object
      additionalProperties: false
      description: >-
        Every field is optional, and an absent field is left alone. `owner` and
        `processor` are not updatable: they are the key the uniqueness rule is
        built on, and moving a customer is a delete and a create.

        `processor_customer_id` IS updatable, and it is unique across customers —
        the one identifier a client can move, and the reason this operation can
        answer 409. A null means "this customer has no id at the processor yet",
        which many customers may be at once, so the rule is on the value and not
        on the column.
      properties:
        email:
          type: [string, 'null']
          format: email
        processor_customer_id:
          type: [string, 'null']
          description: >-
            The processor's own id for this customer. Unique: a value another
            customer already holds is a 409 naming this field.
        metadata:
          type: object
          additionalProperties: true

    CustomerPage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          description: Always an array, empty rather than absent.
          items:
            $ref: '#/components/schemas/Customer'
        page:
          $ref: '#/components/schemas/Page'

    Plan:
      type: object
      required:
        [id, name, slug, processor_product_id, processor_price_id, price, interval, trial_days, entitlements, active, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
          pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
        processor_product_id:
          type: [string, 'null']
        processor_price_id:
          type: [string, 'null']
        price:
          $ref: '#/components/schemas/Money'
        interval:
          type: string
          enum: [month, year, one_time]
        trial_days:
          type: integer
          minimum: 0
        entitlements:
          $ref: '#/components/schemas/PlanEntitlements'
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PlanCreate:
      type: object
      required: [name, slug, price, interval]
      additionalProperties: false
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
        price:
          $ref: '#/components/schemas/Money'
        interval:
          type: string
          enum: [month, year, one_time]
        trial_days:
          type: integer
          minimum: 0
          default: 0
        active:
          type: boolean
          default: true
        processor_product_id:
          type: [string, 'null']
        processor_price_id:
          type: [string, 'null']

    PlanUpdate:
      type: object
      additionalProperties: false
      description: >-
        Every field is optional, and an absent field is left alone. `slug` and
        `processor_price_id` are both unique across plans, so a claim on either
        one another plan already holds is a 409 and nothing is written.
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
        price:
          $ref: '#/components/schemas/Money'
        interval:
          type: string
          enum: [month, year, one_time]
        trial_days:
          type: integer
          minimum: 0
        active:
          type: boolean
        processor_product_id:
          type: [string, 'null']
        processor_price_id:
          type: [string, 'null']
          description: >-
            The processor's own id for this plan's price. Unique: a value another
            plan already holds is a 409 naming this field. A null means the plan
            is not on sale yet, which many plans may be at once.

    PlanEntitlements:
      type: object
      description: >-
        What buying this plan grants. An object with at most two members, so a
        reader never has to ask whether a key it does not know is one it should
        honour. `features` is a list of things switched on; `limits` is how many
        of each. A limit is a count and never an amount: there is no currency
        anywhere in this object, deliberately.
      additionalProperties: false
      properties:
        features:
          type: array
          description: Always an array, empty rather than absent.
          items:
            type: string
            minLength: 1
        limits:
          type: object
          description: Always an object, empty rather than absent.
          additionalProperties:
            type: integer
            minimum: 0

    PlanPage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Plan'
        page:
          $ref: '#/components/schemas/Page'

    SubscriptionStatus:
      type: string
      description: >-
        What the payment processor says the subscription is. This service stores
        exactly what the processor reports and does not correct it: the processor is
        the party that bills, and a row that disagreed with it would grant
        entitlements nobody is paying for. A status outside this set is refused by
        the lifecycle with the delivery recorded, rather than coerced into one of
        these.
      enum: [trialing, active, past_due, canceled, unpaid]

    Subscription:
      type: object
      description: >-
        One account, on one plan, for one billing period at a time. `plan_slug` is
        derived from the plan and never stored, so it cannot go stale; the price is
        the plan's, in integer minor units, and is not stored here either — a
        subscription does not have a price, it has a plan.
      required:
        [id, account_id, plan_id, plan_slug, customer_id, processor_subscription_id, status, price,
         current_period_start, current_period_end, cancel_at_period_end, canceled_at, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
          description: The account being billed. identity's uuid; no foreign key.
        plan_id:
          type: string
          format: uuid
        plan_slug:
          type: string
          pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
        customer_id:
          type: string
          format: uuid
        processor_subscription_id:
          type: string
          description: >-
            The processor's own id for this subscription. Unique here, and that index
            is how every event about a subscription is resolved.
          example: sub_1PZQaBcDeFgHiJkLmNoPqR1
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        price:
          $ref: '#/components/schemas/Money'
        current_period_start:
          type: [string, 'null']
          format: date-time
        current_period_end:
          type: [string, 'null']
          format: date-time
        cancel_at_period_end:
          type: boolean
          description: >-
            The customer asked to cancel at the end of the period. The subscription
            is still `active`: cancellation has not taken effect, and
            `billing.subscription.canceled` is published when it does.
        canceled_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SubscriptionPage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          description: Always an array, empty rather than absent.
          items:
            $ref: '#/components/schemas/Subscription'
        page:
          $ref: '#/components/schemas/Page'

    SubscriptionCheckoutRequest:
      type: object
      required: [customer_id, plan_id]
      additionalProperties: false
      properties:
        customer_id:
          type: string
          format: uuid
          description: >-
            The billing customer to charge. Must belong to an `Account`: which
            account a user belongs to is identity's fact, and no event carrying it is
            in this build's `consumes`.
        plan_id:
          type: string
          format: uuid
          description: A plan that is active and has a processor price.

    CheckoutSession:
      type: object
      description: >-
        A hosted Checkout session, and the only thing this endpoint creates. The url
        is the processor's — one assembled here would be a link to nothing.
      required: [checkout_session_id, checkout_url, customer_id, plan_id]
      properties:
        checkout_session_id:
          type: string
          example: cs_test_00000000000001
        checkout_url:
          type: string
          format: uri
          example: https://checkout.stripe.test/c/pay/cs_test_00000000000001
        customer_id:
          type: string
          format: uuid
        plan_id:
          type: string
          format: uuid

    CancelRequest:
      type: object
      required: [at_period_end]
      additionalProperties: false
      properties:
        at_period_end:
          type: boolean
          description: >-
            True keeps the subscription until the end of the period it was paid for;
            false ends it now. Required, because the caller chooses and this service
            does not inherit a processor's default on its behalf.

    ChangePlanRequest:
      type: object
      required: [plan_id]
      additionalProperties: false
      properties:
        plan_id:
          type: string
          format: uuid
          description: >-
            The plan to move to. Must be active, have a processor price, and be
            quoted in the same currency and on the same interval as the current plan.

    PlanChangeDecision:
      type: object
      description: >-
        What a plan change request decided. Not state: the subscription's own fields
        have not moved, and they will not until the processor's webhook says so.
      required: [plan_id, effective, proration]
      properties:
        plan_id:
          type: string
          format: uuid
        effective:
          type: string
          enum: [immediately, period_end]
          description: >-
            `immediately` when the new plan costs more for the same interval, and the
            processor bills the difference now. `period_end` when it costs the same or
            less, and nothing is carried forward.
        proration:
          type: string
          enum: [always_invoice, none]
          description: >-
            The behaviour sent to the processor. The *amount* is the processor's to
            compute, and no figure is calculated in this service.

    SubscriptionWithPlanChange:
      allOf:
        - $ref: '#/components/schemas/Subscription'
        - type: object
          required: [plan_change]
          properties:
            plan_change:
              $ref: '#/components/schemas/PlanChangeDecision'

    Entitlements:
      type: object
      description: >-
        What the plan grants, and whether this subscription is granting it. A
        canceled subscription grants nothing.
      required: [subscription_id, plan_id, plan_slug, status, granted, features, limits]
      properties:
        subscription_id:
          type: string
          format: uuid
        plan_id:
          type: string
          format: uuid
        plan_slug:
          type: string
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        granted:
          type: boolean
          description: False for a canceled subscription; true for every other status.
        features:
          type: array
          description: Always an array, empty rather than absent.
          items:
            type: string
        limits:
          type: object
          description: Always an object, empty rather than absent.
          additionalProperties:
            type: integer
            minimum: 0

    Page:
      type: object
      required: [next_cursor, has_more]
      properties:
        next_cursor:
          type: [string, 'null']
          description: Null on the last page.
        has_more:
          type: boolean

    # A processor event. Only `id` and `type` are read for routing;
    # `data.object` is the processor-specific payload and its shape is the
    # processor's, not cafaye's. The stored copy is the verified body verbatim,
    # because a normalized hash would be the wrong thing to replay: it is the
    # *processor's* bytes that the mapping is a claim about.
    StripeEvent:
      type: object
      required: [id, object, type, data]
      properties:
        id:
          type: string
          description: >-
            The processor's id for the event, UNIQUE in this service's
            `processor_webhooks` table. This is the whole of replay protection.
        object:
          type: string
          const: event
        type:
          type: string
          description: The processor's event type, e.g. `customer.subscription.updated`.
        created:
          type: integer
          description: >-
            Epoch seconds at which the event was created. This becomes the emitted
            event's `time` — when the state change happened, not when this service
            received it — which is what lets a consumer detect out-of-order
            delivery.
        livemode:
          type: boolean
        data:
          type: object
          properties:
            object:
              type: object
              description: The processor object the event is about. Untyped on purpose.

    # Which Stripe types this build acts on, and what each becomes. Documentation
    # of the mapping rather than a request or response shape: it is here so a
    # reader of the contract does not have to read the code to learn which events
    # are handled. Deliberately-ignored types are listed with the reason, so "we
    # chose to skip this" is visible without querying the table.
    #
    # `checkout.session.completed` appears twice on purpose: a session in payment
    # mode is the only record of that charge and becomes
    # `billing.payment.succeeded`, while a session in subscription mode restates
    # what `customer.subscription.created` says moments later and is ignored, so a
    # signup is not counted twice.
    #
    # The three subscription types do not map one-to-one onto the three cafaye ones,
    # and that is deliberate rather than an omission: the event is chosen from what
    # the delivery *did to the row*. A `customer.subscription.updated` that reports
    # `canceled` publishes `billing.subscription.canceled`; a
    # `customer.subscription.deleted` that arrives before the creation it belongs to
    # finds no row, creates a canceled one, and publishes
    # `billing.subscription.canceled` — and then the `created` that follows is
    # refused, because `canceled` is terminal. An update that changes nothing
    # publishes nothing, and is recorded on the delivery row as
    # `ignored:no_change_to_record` rather than as a failure.
    StripeEventMapping:
      type: object
      properties:
        handled:
          type: object
          additionalProperties:
            type: string
          example:
            customer.subscription.created: billing.subscription.started
            customer.subscription.updated: billing.subscription.updated
            customer.subscription.deleted: billing.subscription.canceled
            invoice.paid: billing.payment.succeeded
            invoice.payment_failed: billing.payment.failed
            checkout.session.completed (payment mode): billing.payment.succeeded
        ignored:
          type: object
          additionalProperties:
            type: string
          example:
            ping: connectivity_check
            checkout.session.completed (subscription mode): subscription_mode_is_restated_by_the_subscription_lifecycle
            any other type: unhandled_event_type

    # core's error envelope. `errors` appears only on a 422.
    Problem:
      type: object
      required: [type, title, status, detail, instance, code, trace_id]
      properties:
        type:
          type: string
          description: 'Stable URI: `https://errors.cafaye.com/<code>`.'
          format: uri
        title:
          type: string
          description: A fixed summary for the code. May be reworded without a version bump.
        status:
          type: integer
        detail:
          type: string
          description: Specific to this occurrence. Not parsed by clients.
        instance:
          type: string
          description: The path the caller asked for.
        code:
          type: string
          description: The last segment of `type`, in snake_case.
        trace_id:
          type: string
          description: Matches the `X-Trace-Id` response header. Support starts here.
        errors:
          type: array
          description: Present only on a 422.
          items:
            type: object
            required: [field, code]
            additionalProperties: false
            properties:
              field:
                type: string
              code:
                type: string

  responses:
    BadRequest:
      description: The body could not be read as JSON.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    CursorInvalid:
      description: >-
        The cursor could not be read, or is older than 24 hours. A 400 rather
        than a 422 because a cursor is opaque and a client could not have known.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: No record matches that identifier.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: >-
        The request collides with something that already exists: a duplicate
        customer, a duplicate slug, or an `Idempotency-Key` reused for a
        different body. Carries no `errors` array.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    ValidationFailed:
      description: One or more fields are wrong. `detail` names them.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    ProcessorUnconfigured:
      description: >-
        No API key is configured for the payment processor, so the request could not
        be made. This is this service's misconfiguration and never the caller's, and
        it is deliberately not a 4xx: telling a client its request was wrong when the
        service cannot reach Stripe at all sends an operator looking in the wrong
        place. The cause is logged; the body does not carry the processor's own
        message, which is the processor's to decide who sees it.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/unavailable
            title: Service unavailable
            status: 503
            detail: The payment processor is not configured.
            instance: /v1/subscriptions/0198f1c2-7a41-7c3b-9d55-2f0b6a1e4c88/cancel
            code: unavailable
            trace_id: 0af7651916cd43dd8448eb211c80319c
    SignatureRejected:
      description: >-
        The signature did not verify, the signature header was missing, or the
        body was not an event. Nothing is stored. 400 rather than 422 because the
        sender could not have known its signing secret was wrong, and rather than
        5xx because a retry would fail identically.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/bad_request
            title: Bad request
            status: 400
            detail: The Stripe-Signature header did not verify against the request body.
            instance: /v1/webhooks/stripe
            code: bad_request
            trace_id: 0af7651916cd43dd8448eb211c80319c
    SigningUnconfigured:
      description: >-
        No signing secret is configured, so no signature can be checked. This is
        this service's misconfiguration and never the sender's fault; the body
        deliberately does not say the signature was invalid, because that would
        send an operator looking in the wrong place. The cause is logged.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/unavailable
            title: Service unavailable
            status: 503
            detail: Webhook signature verification is not configured.
            instance: /v1/webhooks/stripe
            code: unavailable
            trace_id: 0af7651916cd43dd8448eb211c80319c
